@font-family: "Times New Roman", Times, serif;
@bg-color: #f4f4f4;
@text-color: #333333;
@card-bg: #ffffff;
@sidebar-bg: #ebe9e9;
@sidebar-item-bg: #ffffff;
@border-color: #dddddd;
@box-shadow-color: #0000001a;

body {
  font-family: @font-family;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: @bg-color;
  color: @text-color;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 75px;

  img {
    height: 60px;
    margin: 0 5px;
  }
}

.content {
  display: flex;
  gap: 20px;
  background: @card-bg;
}

.cards-container {
  margin: 20px;
  flex: 3;
}

.card {
  background: @card-bg;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;

  .card-image {
    width: 35%;
    height: auto;
    object-fit: cover;
  }

  .card-info {
    padding: 15px;
    width: 60%;

    h3 {
      margin: 0;
      font-size: 1.2rem;
      color: #222222;
    }

    .date {
      font-size: 0.9rem;
      color: #777777;
      margin: 5px 0;
    }

    .description {
      font-size: 1rem;
      color: #555555;
    }
  }
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: @sidebar-bg;
  padding: 0 20px;

  .sidebar-item {
    background: @sidebar-item-bg;
    border: 1px solid @border-color;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px @box-shadow-color;

    h2 {
      font-size: 1.2rem;
      margin-bottom: 10px;
      color: #222222;
    }

    p {
      font-size: 0.95rem;
      color: #555555;
    }

    &:first-child {
      margin-top: 20px;
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    width: 100%;
  }

  .cards-container,
  .sidebar {
    flex: 1;
  }

  .card {
    flex-direction: column;

    .card-image {
      width: 100%;
      height: auto;
    }

    .card-info {
      width: 95%;
      padding: 15px;
    }
  }
}

@media (min-width: 3100px) {
  body {
    font-size: 5em;
  }

  .logo {
    height: 150px;

    img {
      height: 120px;
    }
  }

  .cards-container {
    margin: 30px;
  }

  .card {
    margin-bottom: 30px;
  }

  .card-info {
    padding: 38px;
  }

  .sidebar {
    padding: 0 30px;
  }

  .sidebar-item {
    padding: 38px;

    &:first-child {
      margin-top: 30px;
    }

    &:last-child {
      margin-bottom: 24px;
    }
  }

  .card-image {
    width: 40%;
  }

  .card-info {
    width: 50%;

    h3 {
      font-size: 0.8em;
    }

    .date {
      font-size: 0.75em;
    }

    .description {
      font-size: 0.8em;
    }
  }

  .sidebar-item h2 {
    font-size: 0.8em;
  }

  .sidebar-item p {
    font-size: 0.75em;
  }
}